.pointer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: center;
    transition: opacity 400ms ease-in-out, transform 100ms ease;
    // cursor: pointer;
    opacity: 1;
    pointer-events: none;
    &.hidden {
        opacity: 0;
    }
    --path-size: 50px;
    &::before {
        content: "";
        width: 15px;
        height: 15px;
        background-color: #ffffff;
        position: absolute;
        left: calc(50% - 7px);
        top: calc(50% - 7px);
        border-radius: 10px;
        transform-origin: center;
        animation: myOrbit 4s linear infinite;
        pointer-events: none;
    }
    &::after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #ffffff;
        position: absolute;
        left: calc(50% - 5px);
        top: calc(50% - 5px);
        border-radius: 10px;
        transform-origin: center;
        animation: myOrbit 3s linear infinite;
        pointer-events: none;
    }
}
.pointer-text {
    position: fixed;
    color: #ffffff;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    pointer-events: none;
    transform: matrix(1, 0, 0, 1, 505, 147);
    transition: opacity 300ms ease-in-out, transform 10ms ease;
    &.hidden {
        opacity: 0;
    }
}